<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 
  <servers>

    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>123456</password>
    </server>

  </servers>

 
  <profiles>
    <profile>
      <id>env-dev</id>

      <activation>
        <property>
          <name>target-env</name>
          <value>dev</value>
        </property>
      </activation>

      <properties>
        <tomcatPath>/path/to/tomcat/instance</tomcatPath>
      </properties>
    </profile>
	
	<profile>
     <id>snapshot</id>
     <repositories>
       <repository>
         <id>snapshots</id>
         <name>snapshots</name>
         <url>http://localhost:8081/repository/snapshots/</url>
       </repository>
	   
     </repositories>
   </profile>
    <profile>
     <id>release</id>
     <repositories>
       <repository>
         <id>realses</id>
         <name>realses</name>
         <url>http://localhost:8081/repository/realses/</url>
       </repository>
     </repositories>
   </profile>
    
  </profiles>

</settings>